/* styles.css */
header {
    background-image: url('navbar_back.png');
    background-size: cover;
    background-position: center;
    padding: 20px;
    text-align: center;
    color: white;
    opacity: 95%;
    position: relative;
    z-index: 2;
}

body {
    background-image: url('placeholder.jpg');
    background-size: cover;
    background-position: center;
    color: #333;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 1;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.7); /* Fundo branco com opacidade de 0.7 */
    z-index: -1; /* Coloca o fundo atrás de todo o conteúdo */
}

h1 {
    margin: 0;
    font-size: 2.5em;
}

main {
    padding: 20px;
    position: relative;
    z-index: 2;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: white; /* Fundo branco para a tabela */
    z-index: 2;
    position: relative;
}

th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #4CAF50;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #4CAF50;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 2;
}
